@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

header{
    width: 100vw;
    height: 20vh;
}

div#info{
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#menu{
    display: flex;
    border: 1px solid #0000000c;
}

h1{
    margin: 20px;
    
}

ul{
    display: flex;
    margin-left: 10px;
}

li{
    list-style: none;
    margin: 10px;
}

input{
    margin: 0 20px;
    border-radius: 15px;
}
